/* --- GENERAL STYLE ---*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://use.typekit.net/ydn5jcq.css");

:root {
  /* FUENTES */
  --font-heading: "bogart", serif;
  --font-body: "Montserrat", sans-serif;

  /* COLORES */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #e62556;
  --color-background: #fce9ee;
  --color-btn: #eb5178;
  --color-secondary: #f07c9a;

  /* MISC */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --transition-normal: 0.3s ease-in-out;
}

/* Reset y Box Sizing para todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base de la unidad REM */
html {
  font-size: 18px;
}

/* Estilos de texto base */
body {
  font-family: var(--font-body);
  background-color: var(--color-white);
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  font-size: 1rem;
  color: var(--color-black);
}

/* Estilos de Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--font-heading);
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
}

p {
  color: var(--color-black);
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btn);
  color: var(--color-white);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
