.cta {
  background-color: var(--color-white);
  max-width: 550px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.ctaButton {
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btn);
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.ctaButton:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: brightness(1.15);
}

.ctaButton:focus,
.ctaButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
